*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.heading{
  color: blueviolet;
  font-family: 'Josefin Slab', serif;
  font-size: 50px;
  margin: 50px 0;
  text-align: center;
}
/* can't use class keyword because react has reserved this keyword */
.div-img{
  display: flex;
  justify-content: center;
}

img{
  margin: 2px;
  border-radius: 5px;
  width: 200px;
  height: 250px;
}


